// cors
//-
$black: #212121
$dark: lighten($black, 5%)
$primary: #ea262e
$complementary: #2f3490


// responsa
//-
$large-desktop: 1200px

$desktop: 992px
$desktop-max: $large-desktop - 1

$tablet: 750px
$tablet-max: $desktop - 1

$phablet: 550px
$phablet-max: $tablet - 1

$mobile: 400px
$mobile-max: $phablet - 1

$small-mobile: 320px
$small-mobile-max: $mobile - 1

$breakpoint: 991px


// sizes
//-
$menu-height: 160px
$menu-inner-height: $menu-height - 34px


// paradas
//-
$cubic: cubic-bezier(0.34, 0.21, 0.4, 0.99)
$cubic-bounce-in: cubic-bezier(0.64, -0.32, 0.24, 1)
