//#-

%link-none
    text-decoration: none

    &:visited
        text-decoration: none


%flex
    display: flex
    flex-wrap: wrap

%button
    display: inline-block
    vertical-align: top
    padding: 0 26px
    line-height: 42px
    color: #fff
    background: $primary
    font-weight: 500
    text-decoration: none
    letter-spacing: 0.04rem
