.logo {
  $width: 184px;
  $height: 51px;
  $ratio: $width / $height;

  @include inline-top;
  width: $width;
  height: $height;
  background: url(../images/logo.png) no-repeat;
  background-image: url(../images/logo.svg);
  background-position: center center;
  background-size: 100%;
  text-indent: -999rem;


  @include below(large-desktop) {
    width: 120px;
    height: 120px / $ratio;
    margin: 21px 20px 0 0;
  }
}
